p {
    width: 600px;
}

.valmistusohje {
    width: 600px;
    background: #E0E0E0;
}

.commenttext {
}

p.status {
    color: red;
    width: 600px;
}

div.kohdeinfo {
    font: 14px/100% Arial, Helvetica, sans-serif;
    color: #707070;
    width: 600px;
}

div.kohdeinfofloat {
    text-align: right;
    font: 14px/100% Arial, Helvetica, sans-serif;
    color: #707070;
    float: right;
}

span.tuntematon {
    font: 14px/100% Arial, Helvetica, sans-serif;
    color: #707070;
    font-style: italic
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.timestamp {
    font: 14px/100% Arial, Helvetica, sans-serif;
    color: #707070;
    width: 600px;
    text-align: right;
    margin-top: 10px;
}

fieldset {
    border: none;
}

ul.reseptilista, ul.ruokaainelista {
    margin-left: 0em;

    list-style: none;

    width: 600px;

    -webkit-column-count: 3;
    -webkit-column-gap: 10px;

    -moz-column-count: 3;
    -moz-column-gap: 10px;

    column-count: 3;
    column-gap: 2px;
}

ul.reseptilista, ul.ruokaainelista {
    margin-left: 1em;
    padding: 0;
}

ul.navigation {
    list-style-type: none;
    list-style: none;
    padding: 1px;
    margin: 0px;
}

li.navigation {
    display: inline
}

span.navigation {
    background-color: #000000;
    display: inline-block;
    width: 600px;
}

ul.navigation li a {
    margin-right: 15px;
    color: #FFFFFF;
    font: 14px/100% Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
/*    background-image: url(nav-tab-bg.png); */
    background-color: #000000; /*A basic background color is set incase the image will not load*/
    border: 1px solid #333333;
    border-bottom: none;
}

#rohmottinav {
    background-image: url(../images/rohmotti_small_pos.png);
    background-size: 50px 20px;
    background-repeat: no-repeat;
}

#rohmottinav:hover {
    background-image: url(../images/rohmotti_small_neg.png);
}

ul.navigation li a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

div.commentform {
    margin-top: 20px
}

div.comment {
    width: 600px;
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
}

div.hakutulos {
    margin-left: 1em;
}

div.hakutulos b {
    color: #FF0000;
}

input.haku {
    width: 40em;
}

/*
 * Lainattu täältä: http://www.alistapart.com/articles/prettyaccessibleforms/
 */
form.cmxform fieldset {
  margin-bottom: 10px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 120px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

/*
 * http://tips4php.net/2010/08/create-nice-submit-buttons-with-css-and-no-images/
 */
input.deleteform {
    background-color: #00A400;
    color: #ffffff;
    border-width: 0px;
    border-color: #000000;
    display: inline;
    font: 12px/100% Arial, Helvetica, sans-serif;
}

input.deleteform:hover {
    background-color: #00CC00;
}

input.deleteform:focus {
    background-color: #00CC00;
}

form.deleteform {
    display: inline;
}
