.valmistusohje { margin-left:20px; width: 40em; background: #E0E0E0 }

p.status {
    color: red;
    background: #e0e0c0;
    width: 20em }

fieldset { border: none }

ul.navigation {
    list-style-type: none;
    list-style: none;
    padding: 1px;
    margin: 0px;
}

li.navigation {
    display: inline
}

span.navigation {
    background-color: #000000; /*A basic background color is set incase the image will not load*/
}

span.navigation {
    display: inline-block
}

ul.navigation li a {
    margin-right: 15px;
    color: #FFFFFF;
    font: 14px/100% Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
    background-image: url(nav-tab-bg.png);
    background-color: #000000; /*A basic background color is set incase the image will not load*/
    border: 1px solid #333333;
    border-bottom: none;
}
